body{
  background-color: rgba(128, 128, 128, 0.242);
}
p, h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}
.container{
  max-width: 1000px;
  margin: 20px auto;
}
.btn{
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid rgba(128, 128, 128, 0.251);
  border-radius: 5px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
}

.person{
  padding: 20px;
  border-radius: 20px;
  background-color: gray;
  color: white;
  margin: 30px;
}

.border{
  border: 1px solid green;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
}

.border2{
  border: 1px solid rgb(207, 207, 207);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
}

.increas_btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #8080802e;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}